<header id="home" class="min-vh-100">
  <div class="container d-flex align-items-center flex-column text-white">
    <!-- home Avatar Image-->
    <img class="home-avatar mb-5" src="assets/images/avataaars.svg" alt="">
    <!-- home Heading-->
    <h1 class="home-heading text-uppercase mb-2">Start Angular</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- home Subheading-->
    <p class="home-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
</div>
</header>
